name: Crear rama release, tag, y fusionar a main

on:
  push:
    branches:
      - develop
    paths:
      - 'package.json'

jobs:
  create-release-branch:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Leer la versión desde package.json
        id: get-version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "La versión actual del package.json es: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Verificar y crear la rama si no existe
        run: |
          git fetch origin
          if git show-ref --verify --quiet refs/heads/$release_name || git ls-remote --exit-code --heads origin $release_name; then
            echo "La rama $release_name ya existe. No se creará una nueva."
          else
            git checkout develop
            git checkout -b $release_name
            git push -u origin $release_name
          fi

      - name: Crear el tag y asociarlo con el release
        run: |
          echo "Branch actual: $release_name"
          echo "Versión: $VERSION"
        
          # Asegurarse de estar en la rama correcta
          git fetch origin $release_name
          git checkout $release_name
        
          # Depurar tags locales
          echo "Tags locales antes de crear el nuevo tag:"
          git tag
        
          # Verificar y crear el tag si no existe
          if git tag -l | grep -q "^$VERSION$"; then
            echo "El tag $VERSION ya existe. No se creará un nuevo tag."
          else
            git tag $VERSION
            echo "Tag $VERSION creado localmente."
          fi
        
          # Empujar el tag al remoto
          git push origin $VERSION

      - name: Crear el Release en GitHub
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN}}

      - name: Fusionar la rama release/* a main
        run: |
          git fetch origin main
          git checkout main
          git merge $release_name --no-ff -m "Fusionando la rama $release_name a main"
          git push origin main

      - name: Notificar la creación de la rama y el tag
        run: |
          echo "La rama $release_name fue procesada exitosamente."
          echo "El tag $VERSION fue creado y subido."
          echo "La rama $release_name fue fusionada con main."
